@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');
*{
    font-family: 'Montserrat';
}
.jobselector-menu{
    position: absolute;
    width: 1010px;
    height: 723px;
    display: flex;
    background-repeat: no-repeat;
    background: rgba(18, 18, 18, 0.95);
    font-family: 'Montserrat';
    color: white;
    margin-left: 470px;
    margin-top: 5.5%;
    border-radius: 24px;
    font-size:16px;
}
.scrollable-container {
    height: 595px; /* Фиксированная высота контейнера */
    overflow-y: scroll; /* Полоса прокрутки по вертикали */
}
.scrollable-container::-webkit-scrollbar {
    margin-top: 20px;
    width: 4px; /* Ширина полосы прокрутки */
}

.scrollable-container::-webkit-scrollbar-track {
    border-radius: 1px;
    margin-top: 25px;
    background: rgba(103,103,103,0.15); /* Цвет фона полосы прокрутки */
}

.scrollable-container::-webkit-scrollbar-thumb {
    border-radius: 1px;
    margin-top: 25px;
    background:#3F4044; /* Цвет полосы прокрутки */
    border-radius: 6px; /* Скругление углов */
}
.jobselector__header{
    font-weight: 550;
    width: 946px;
    border-radius: 9px;
    display: flex;
    background: #FF1E54;
    text-align: center;
    align-items: center;
    justify-content: left;
    padding:0 0 0 10px; 
    text-transform: uppercase;
    height: 75px;
    font-size: 20px;
    margin-left: 26px;
    margin-top: 19px;
}
.jobselector__header img:hover{
    opacity: 80%;
}
.container {
    width: 100px;
    height: 100px;
	border-radius:50%;
	margin-top:40px;
    background:#FF1E54;
	margin-left:90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 {
    width: 27px;
    height: 27px;
	border-radius:6px;
	margin-top:4%;
    background:#FF1E54;
	margin-left:13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jobselector__jobselector_element:hover {
	.container{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image{
		filter: brightness(1);
		color:#FF1E54;
	}
	.container2{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image2{
		filter: brightness(1);
		color:#FF1E54;
	}
    .batton{
        color:#FF1E54;
        font-weight: 700;
        background-color: white;
    }
	background:#FF1E54;
	border: 2px solid #FF1E54;
}
.jobselector__jobselector_element2:hover {
	.container{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image{
		filter: brightness(1);
		color:#FF1E54;
	}
	.container2{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image2{
		filter: brightness(1);
		color:#FF1E54;
	}
    .batton{
        color:#FF1E54;
        font-weight: 700;
        background-color: white;
    }
	background:#FF1E54;
	border: 2px solid #FF1E54;
}
.jobselector__jobselector_element3:hover {
	.container{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image{
		filter: brightness(1);
		color:#FF1E54;
	}
	.container2{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image2{
		filter: brightness(1);
		color:#FF1E54;
	}
    .batton{
        color:#FF1E54;
        font-weight: 700;
        background-color: white;
    }
	background:#FF1E54;
	border: 2px solid #FF1E54;
}
.jobselector__jobselector_element4:hover {
	.container{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image{
		filter: brightness(1);
		color:#FF1E54;
	}
	.container2{
		background-color: white; /* Изменяем фон на красный при наведении */
	}
	.image2{
		filter: brightness(1);
		color:#FF1E54;
	}
    .batton{
        color:#FF1E54;
        font-weight: 700;
        background-color: white;
    }
	background:#FF1E54;
	border: 2px solid #FF1E54;
}
.batton{
    background-color: #FF1E54;
}
.image {
	filter: brightness(10);
    width: 48px;
    height: 48px;
}
.image2 {
	filter: brightness(10);
    width: 10px;
    height: 13px;
}
.jobselector__jobselector_element{
    width: 293px;
    height: 294px;
    background: rgba(55, 56, 58, 0.18);
    border: 2px solid rgba(123, 123, 123, 0.50);
    border-radius: 8px;
    margin-left: 26px;
    margin-top: 25px;
}
.jobselector__jobselector_element2{
    width: 293px;
    height: 294px;
    background: rgba(55, 56, 58, 0.18);
    border: 2px solid rgba(123, 123, 123, 0.50);
    border-radius: 8px;
    margin-left: 107%;
    margin-top: -92%;
}
.jobselector__jobselector_element3{
    width: 293px;
    height: 294px;
    background: rgba(55, 56, 58, 0.18);
    border: 2px solid rgba(123, 123, 123, 0.50);
    border-radius: 8px;
    margin-left: 207%;
    margin-top: -192.36%;
}
.jobselector__jobselector_element4{
    width: 293px;
    height: 294px;
    background: rgba(55, 56, 58, 0.18);
    border: 2px solid rgba(123, 123, 123, 0.50);
    border-radius: 8px;
    margin-left: 207%;
    margin-top: -92.36%;
}
.placeept{
    margin-left: 19px;
    position: absolute;
    margin-top: 130px;
}
.houseicon-house{
    margin-left: 90px;
    margin-top: 15px;
}
.house_bottom_buttons{
    width: 626px;
    height: 86px;
    background-color: green;
    border-radius: 8px;
}
.house__bottom_left{
    display: grid;
    gap:22px;
    margin-top: 24px;
    margin-left: 20.5px;
}
#litersRange {
    -webkit-appearance: none;
    appearance: none;
    width: 582px;
    height: 5px;
    background: #FF1E54;
    outline: none;
    -webkit-transition: .2s;
    transition: all .2s;
}
#litersRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
#litersRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
}
.house_bottom_buttons2{
    width: 626px;
    height: 86px;
    border-radius: 8px;
    background: #375BDE;
}
.placeept span{
    position: absolute;
    font-weight: 200;
    margin-left: -99%;
    margin-top: 2%;
    font-size: 12px;
    width:200px;
    opacity: 20%;
}
Input {
    position: absolute;
    width: 554px;
    height: 80px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgba(49, 49, 49, 0.10);
    color:white;
    border: 1.5px solid rgba(123, 123, 123, 0.50);
}
  
Input::placeholder {
    color:rgba(123, 123, 123, 0.50);
}
.wedding__selector{
    text-shadow: #ffffff 0 0 10px;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 626px;
    height: 86px;
    margin-top: 465px;
    margin-left:680px;
    font-size: 18px;
    color:white;
    font-weight: 600;
    background-color: #1B56AF;
    border-radius:6px;
}
.wedding__selector2{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    color:white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 465px;
    margin-left:990px;
    height: 70px;
    background-color: rgba(244, 124, 246, 0.41);
    border-radius:6px;
}
.wedding__selector3{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 563px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 550px;
    margin-left:680px;
    color:white;
    height: 60px;
    background-color: rgba(74, 74, 74, 0.53);
    border-radius:6px;
}
.wedding__selector3:hover{
    opacity: 0.5;
}
.wedding__selector1:hover{
    opacity: 0.5;
}
.wedding__selector2:hover{
    opacity: 0.5;
}
.wedding__selector:hover{
    opacity: 0.5;
}
.wedding__button:hover{
    opacity: 0.5;
}
.wedding__subtitle{
    position: absolute;
    display: flex;
    text-align: center;
    margin-top: 426px;
    margin-left:680px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:white;
    font-weight: 600;
} 
.wedding__button{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 563px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 650px;
    margin-left:680px;
    color:white;
    height: 99px;
    background-color: #7FD64A;
    border-radius:6px;
}
.wedding__header img:hover{
    opacity: 70%;
}